<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<NavbarComponent></NavbarComponent>

<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!------ Include the above in your HEAD tag ---------->


<!------ Include the above in your HEAD tag ---------->
<div class="page-header page-header-small">
  <div class="page-header-image rellax-header" data-rellax-speed="-1" style="background-image: url('https://miro.medium.com/max/3200/1*HovqoMshezWO2hkYdQFfgg.jpeg');" >

  </div>
  
  <div class="section-content">
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    <h1 class="section-header"><span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> <strong>En train d'écouter la base de données</strong></span></h1> 
    <strong><p>Use the <code>show event<i class="fas fa-sync fa-spin"></i>
   </code>  button to refresh</p>  
   


  <i class="fas fa-spinner fa-spin"></i>  <i class="fas fa-spinner fa-spin"></i>
  <i class="fas fa-spinner fa-spin"></i>
  <i class="fas fa-spinner fa-spin"></i><i class="fas fa-spinner fa-spin"></i><i class="fas fa-spinner fa-spin"></i><i class="fas fa-spinner fa-spin"></i>
  <i class="fas fa-spinner fa-spin"></i><i class="fas fa-spinner fa-spin"></i><i class="fas fa-spinner fa-spin"></i><i class="fas fa-spinner fa-spin"></i>
<br>
<br>
   <button _ngcontent-ulo-c128="" type="button" class="btn btn-primary btn-round" (click)="getevent()"> <strong> Tous les Evenements</strong>   </button>

  </strong>  

 <div class="text-center"></div>

  <br>

        </div>
</div>
    
<br>
<br>
<br>
<div style="text-align:center;padding:1em 0;"> 
  <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=fr&size=small&timezone=Africa%2FTunis" width="100%" height="90" frameborder="0" seamless></iframe> 
 </div>
<div class="container">
 <div class="jumbotron">
     
   <div class="container-fluid">


   
     <div class="card mb-4">

      
      <div class="card-header" > <h5 style="color:rgb(231, 39, 5)"><strong>TABLEAUX DES EVENEMENTS</strong> </h5></div>
      
      <div class="card-body">

             <div class="table-responsive">
              <div class="card-header" > <h style="color:rgba(59, 54, 54, 0.89)">
              
                <table class="fixed_headers">
                  <thead class="thead-light">
                    <tr>
                      
                      <th scope="col" style="color:rgb(0, 0, 0)" ><strong>Titre</strong></th>
                      <th scope="col"style="color:rgb(0, 0, 0)"><strong>Type</strong></th>
                      <th scope="col"style="color:rgb(0, 0, 0)"><strong>Details</strong></th>
                      <th scope="col"style="color:rgb(0, 0, 0)"><strong>Date</strong></th>
      
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let r of rule">
                          <td>{{r.label}}</td>
                          <td>{{r.type}}</td>
                          <td>{{r.detail}}</td>
                          <td>{{r.date}} </td>
                       </tr>
                    
                  </tbody>
                </table>
              
              
              
              
              
              
              </h></div>
          
             </div>
         </div>
     </div>
 </div>

 </div>
 </div>







 <li class="list-group-item">
  Bootstrap Switch Primary
          <label class="switch ">
<input type="checkbox" (click)="getconnect()" class="primary">
<span class="slider round" click= "getconnect()"></span>
</label>
</li>