.content-header{
  font-family: 'Oleo Script', cursive;
  color:#e74e06;
  font-size: 55px;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 10%;
  max-height: 10%;
  padding: 10px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 10px;
  width: 90%;
  max-width: 550px;
  max-height: 0px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
  text-align: center;
}




/* TABS */




/* FORM TYPOGRAPHY*/
