.content {
  padding: 30px;
  color: #eb4a00;
  background-color: #faf7f563;
  border: 2px solid rgb(248, 62, 6);
  width: 500px;
}


.pinkBg {
  background-color: #ed184f!important;
  background-image: linear-gradient(90deg, #fd5581, #fd8b55);
}
.intro-banner-vdo-play-btn{
  height:px;
  width:px;
  position:absolute;
  top:24%;
  left:52%;
  text-align:center;
  margin:-30px 0 0 -30px;
  border-radius:100px;
  z-index:1
}
.intro-banner-vdo-play-btn i{
  line-height:6px;
  font-size:30px
}
.intro-banner-vdo-play-btn .ripple{
  position:absolute;
  width:160px;
  height:160px;
  z-index:-1;
  left:50%;
  top:50%;
  opacity:0;
  margin:-80px 0 0 -80px;
  border-radius:100px;
  -webkit-animation:ripple 1.8s infinite;
  animation:ripple 1.8s infinite
}

@-webkit-keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0);
      transform:scale(0)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(1);
      transform:scale(1)
  }
}
@keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0);
      transform:scale(0)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(1);
      transform:scale(1)
  }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
  animation-delay:.3s;
  -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
  animation-delay:.6s;
  -webkit-animation-delay:.6s
}















.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fa630bd5;
    font-size: 45px;
  }
  
  .section-content{
    text-align: center; 
  
  }
  .orange-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: .5em solid rgba(232, 76, 14, 0.856);
    font-size: 1em;
    line-height: 1.1em;
    color: #eb1010;
    background-color: #e9602ae1;
    margin: auto;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    position: relative;
  }
  #contact{
      
      font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 1550px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186 , rgb(230, 119, 8)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3975b152 , #8b2e2e09); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color : rgb(224, 34, 34);    
  }
  .contact-section{
    padding-top: 40px;
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  .form-line{
    border-right: 1px solid #B29999;
  }
  
  
  .page-header-small{
      min-height: 15vh;
      max-height: 15px;
  }